@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/* Big Picture Layout */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

body{
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0px;
	margin: 0px;
}


/* Type */

h1 {
	font-size: 50px;
	line-height: 57px;
	font-weight: 900;
	color: #304A47;
}

h1.project-name {
	font-size: 55px;
	line-height: 62px;
}

h2 {
	font-size: 36px;
	line-height: 42px;
	font-weight: 650;
	color: #515151;
	letter-spacing: 0.4px;;
}

h3 {
	font-size: 26px;
	line-height: 32.5px;
	font-weight: 650;
	color: #515151;
}

h4 {
	font-size: 23px;
	line-height: 29px;
	font-weight: 625;
	color: #335464;
}

h5 {
	font-size: 16px;
	line-height: 18.5px;
	font-weight: 600;
	color: #515151;
}

p, li{
	font-size: 18.5px;
	line-height: 25px;
	color: #494949;
	font-weight: 500;
}

/* Extra text stylings */

.callout {
	font-weight: 700;
}

.light-callout {
	font-weight: 500;
}

.nodeco {
	text-decoration: none;
	color:black;
}

a:hover {
	color: #0686B1;
}

.right {
	text-align: right;
}

h4.larger{
	font-size: 32px;
	line-height: 38px;
}

.gray-text {
	color: #515151 !important;
}

/* Content Styling Extras */

.center {
	text-align: center;
}

.centerpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.vcenter {
	margin-top: auto;
	margin-bottom: auto;
}

.bold {
	font-weight: bolder;
}

.regular {
	font-weight:normal;
	padding-left: 18px;
}

.padstart {
	padding-top: 8vh;
}

.padend {
	padding-bottom: 10vh;
}

.notoppad {
	padding-top: 0px;
}

.brand-background-color {
	background: rgba(198,226,240,1) 3%;
	background: linear-gradient(180deg, rgb(255, 255, 255) 3%, rgb(198,226,240,1) 97%);
}

.small-p {
	font-size: 15px;
	line-height: 21px;
}

/*Navigation Bar*/

#nav-bar{
	display: flex;
	align-items: center;
	top:0px;
	left:0px;
	width: 100%;
	height:85px;
	position:fixed;
	color:black;
	z-index: 5;
	background-color: rgb(255, 255, 255, 0.0);
	padding-left: 5%;
	padding-right: 5%;
}

@media only screen and (max-width: 1350px) {
	#nav-bar{
		height: 65px;
	}
}

#navleft h2 {
	font-weight: 750;
}

#navright {
	display: flex;
	gap: 15px;
	justify-content: flex-end;
	width:50%;
}

#navleft {
	display: flex;
	justify-content: flex-start;
	width:50%;
}

.navitem {
	color: #727272;
	text-decoration-line:none !important;
}


/*Home Page*/

.flexpanels3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	column-gap: 2vh;
	row-gap: 2vh;
}

.flexpanels2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	column-gap: 2vh;
	row-gap: 2vh;
}

.cover{
	width: 100%;
	flex: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
}

.panel {
	border-radius: 8px;
	background-color: white;
	transition: all 0.3s;
}

.panel h5 {
	font-size: 14px;
	line-height: 16.5px;
}

/* Hover animation stylings for panels */
.panel:hover {
	box-shadow: 0.5px 3px 10px 3px rgba(0, 0, 0, .1);
	padding: 2vh;
}

@media only screen and (max-width: 1050px) {
	.panel:hover {
		padding: 1.5vh;
	}
}

@media only screen and (max-width: 650px) {
	.panel:hover {
		padding: 1vh;
	}
}

/* Resize width of project panels for small desktop */

@media only screen and (max-width: 1600px) {
	div#currentjob,
	div#casestudies,
	div#professionalexperiences,
	div#moreprojects,
	div#about {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-36.5vw + 50%) !important;
		width: 73vw !important;
	}
}
@media only screen and (max-width: 1350px) {
	div#currentjob,
	div#casestudies,
	div#professionalexperiences,
	div#moreprojects,
	div#about {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-45vw + 50%) !important;
		width: 90vw !important;
	}
}

/* Homepage Splash section */

.homepagesplash {
	height: 100vh;
	width: 100vw;
	background: rgba(198,226,240,1) 3%;
	background: linear-gradient(0deg, rgb(188, 223, 240) 3%, rgb(251, 254, 255) 97%);
	padding: 0;
	margin: 0;

	/* position: -webkit-sticky;
	position: fixed !important;
	top: 0px;
	z-index: 0;
	background-position: 0px; */
}

.splashcontent {
	position: absolute;
	width:100vw;
	height:100vh;
	z-index: 3;
	top: 30vh;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.splashcontent div{
	padding-top: 0px;
}

/* h1 splash text */

h1.splashmaintext {
	font-size: 150px;
	line-height: 157px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

@media screen and (max-width: 1050px) {
	h1.splashmaintext {
		font-size: 115px;
		line-height: 122px;
		margin-block-start: 0px;
		margin-block-end: 0px;
	}
}

@media screen and (max-width: 700px) {
	h1.splashmaintext {
		font-size: 75px;
		line-height: 82px;
		margin-block-start: 0px;
		margin-block-end: 0px;
	}
}

/* Clouds */

#canvas {
	position: absolute;
	width:100vw;
	height:100vh;
	z-index: 1;
}
#canvas2 {
	position: absolute;
	width:100vw;
	height:100vh;
	z-index: 0;
}



/* Remove marginblock on text*/

/* remove top and bottom margin block */
p.nomarginblock, 
li.nomarginblock,
h1.nomarginblock,
h2.nomarginblock, 
h3.nomarginblock,
h4.nomarginblock, 
h5.nomarginblock {
	margin-block-start: 0px !important;
	margin-block-end: 0px !important;
}

/* remove top margin block */
p.notopmarginblock, 
li.notopmarginblock,
h1.notopmarginblock,
h2.notopmarginblock, 
h3.notopmarginblock,
h4.notopmarginblock, 
h5.notopmarginblock {
	margin-block-start: 0px !important;
}

/* remove bottom margin block */
p.nobottommarginblock, 
li.nobottommarginblock,
h1.nobottommarginblock,
h2.nobottommarginblock, 
h3.nobottommarginblock,
h4.nobottommarginblock, 
h5.nobottommarginblock {
	margin-block-end: 0px !important;
}

/* remove bottom margin block */
p.nobottommarginblock-light, 
li.nobottommarginblock-light,
h1.nobottommarginblock-light,
h2.nobottommarginblock-light, 
h3.nobottommarginblock-light,
h4.nobottommarginblock-light, 
h5.nobottommarginblock-light {
	margin-block-end: 0.5em !important;
}

/* remove bottom margin block */
p.nobottommarginblock-lighter, 
li.nobottommarginblock-lighter,
h1.nobottommarginblock-lighter,
h2.nobottommarginblock-lighter, 
h3.nobottommarginblock-lighter,
h4.nobottommarginblock-lighter, 
h5.nobottommarginblock-lighter {
	margin-block-end: 0.8em !important;
}


/*Buttons*/

button {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	border-radius: 6px;
	width: 160px;
	height: 50px;
	transition: all 0.2s;
	background-color: transparent;
	border: 2.5px solid dimgray;
	flex-basis: 1 1 auto;
}

button:hover{
	border-color: rgb(65, 65, 65);
	background-color: rgb(65, 65, 65);
	color: white;
	cursor: pointer;
}

.btns {
	display: flex;
	gap: 0.6vw;
	flex-wrap: wrap;
	margin-top: 3.6vh;
}

.btnscenter {
	justify-content: center;
}

.btnword {
	font-weight:600;
	text-decoration-line: underline;
	text-decoration-thickness: 2.5px;
	text-underline-offset: 7px;
	transition: all 0.2s;
}

.btnword:hover {
	color: #3a3a3a;
	font-weight: 1000;
	text-decoration-thickness: 3px;
}

.btnword-for-p {
	font-weight:700;
	color: #494949;
	text-decoration-line: underline;
	text-decoration-thickness: 2.5px;
	text-underline-offset: 2.75px;
	transition: all 0.2s;
}

.btnword-for-p:hover {
	color: #3a3a3a;
	font-weight: 1000;
	text-decoration-thickness: 3px;
}

/*Footer*/

.iconcontain {
	text-align: center;
	margin-bottom: 30px;
}

footer {
	margin-top: 75px;
}

.icon {
	color: dimgray;
	font-size: 30px;
	width:32px;
	transition: all 0.2s;
}

.icon:hover {
	color: #3a3a3a;
}

/* Rounding Images or Divs*/
.rounded-corners {
	border-radius: 10px;
}

@media screen and (max-width: 1050px) {
	.rounded-corners {
		border-radius: 7px;
	}
}

/*Project Page*/

.bodypad, #morework {
	padding-left: 17.5%;
	padding-right: 17.5%;
	/* padding-top: 5%; */
	z-index: 1;
}

.projectheader {
	padding-right: 12%;
	padding-left: 12%;
	padding-top: 85px;;
}

/* Padding text for larger screen sizes */
@media screen and (min-width: 1050px) {

/* Pad text (or specific image in body */
.bodypad p,
.bodypad h1,
.bodypad h2,
.bodypad h3, 
.bodypad h4,
.bodypad h5,
.btns-with-body-text {
	padding-right: 20%;
	padding-left: 20%;
}

/* Don't pad text in project header container as that would be double padding */
.bodypad .projectheader p,
.bodypad .projectheader h1,
.bodypad .projectheader h2,
.bodypad .projectheader h3,
.bodypad .projectheader h4,
.bodypad .projectheader h5,
.bodypad .projectheader ul{
	padding-right: 0%;
	padding-left: 0%;
}
}

/* Full page content will always stay full page */
.fullpage {
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: calc(-50vw + 50%) !important;
	width: 100vw !important;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* thirty percent content will always stay thirty page */
.thirtypercentpage {
	padding-left: 0px;
	padding-right: 0px;
	position: relative !important;
	left: calc(-15vw + 50%) !important;
	width: 30vw !important;
}

/* twenty percent content will always stay thirty page */
.twentypercentpage {
	padding-left: 0px;
	padding-right: 0px;
	position: relative !important;
	left: calc(-10vw + 50%) !important;
	width: 20vw !important;
}

/*Extend image to page width for screens bigger than tablet*/
@media screen and (min-width: 1050px) {

	/*Extend banner to page width for screens bigger than tablet*/
	.nintypercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-45vw + 50%) !important;
		width: 90vw !important;
	}
	.eightypercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-40vw + 50%) !important;
		width: 80vw !important;
	}
	.seventypercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-35vw + 50%) !important;
		width: 70vw !important;
	}
	.sixtypercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-30vw + 50%) !important;
		width: 60vw !important;
	}
	.fiftyfivepercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-27.5vw + 50%) !important;
		width: 55vw !important;
	}
	.fiftypercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-25vw + 50%) !important;
		width: 50vw !important;
	}
	/* thirty percent content will always stay thirty page */
	.thirtypercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-15vw + 50%) !important;
		width: 30vw !important;
	}

	/* fifty percent page for screens larger than tablet then becomes 80 percent */
	.fifty-then-eighty{
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-25vw + 50%) !important;
		width: 50vw !important;
	}
}

@media screen and (max-width: 1350px) {
	/* thirty percent content becomes 50% at small desktop or smaller screen size */
	.thirtypercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-25vw + 50%) !important;
		width: 50vw !important;
	}
}

@media screen and (max-width: 1050px) {
	/* fifty percent page for screens larger than tablet then becomes 80 percent */
	.fifty-then-eighty{
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-40vw + 50%) !important;
		width: 80vw !important;
	}

	/* becomes full screen at tablet size or smaller */
	.fullscreen-at-tablet {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-50vw + 50%) !important;
		width: 100vw !important;
	}
}

/*Extend image to page width for screens bigger than phone*/
@media screen and (min-width: 650px) {
	.fortypercentpage {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-20vw + 50%) !important;
		width: 40vw !important;
	}
}

/*Extend image to page width for screens bigger than phone*/
@media screen and (min-width: 900px) {
	.fortypercentpage-sooner-tablet {
		padding-left: 0px;
		padding-right: 0px;
		position: relative !important;
		left: calc(-20vw + 50%) !important;
		width: 40vw !important;
	}
}

.inlineblock {
	display: flex;
	justify-content: space-between;
}

img {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.singleimg {
	width: 100%;
}

.padsection {
	margin-top: 15vh;
}

.padmidsection-medium {
	margin-top: 11.5vh;
}

.padmidsection-xs {
	margin-top: 2vh;
}

.padmidsection {
	margin-top: 8vh;
}

.padmidsectionend {
	margin-bottom: 8vh;
}

.padmidsectionbottom {
	padding-bottom: 25px;
}
.padmidsectiontopbottom {
	padding-bottom: 25px;
	padding-top: 25px;
}

.flextwopics {
	display: flex;
	justify-content: space-between;
	margin-top: 3px;
	align-items:baseline;
}

.doubleimg {
	width: 100%;
}

.padrightdoubleimg {
	margin-left: 6px;
	height: 100%;
	flex-basis: 100%;
}

.padleftdoubleimg {
	margin-right: 6px;
	height: 100%;
	flex-basis: 100%;
}

.mockup {
	gap: 8%;
}

.textpadsides {
	padding-right:5%;
	padding-left:5%;
}

.pdfview {
	width:100%;
	height: 600px;
}

.shadowimg {
	box-shadow: 0.5px 3px 10px 3px rgba(0, 0, 0, .1);;
}

/* MoreWork Navigation */

#morework {
	display: flex;
	justify-content: space-between;
	gap: 2vw;
}

#morework h3 {
	flex: 1;
}

/*Small Desktop*/

@media only screen and (max-width: 1350px) {
	
	.bodypad  {
		padding-left: 13%;
		padding-right: 13%;
	}

	/* More work reduce padding and gap */
	#morework {
		gap: 1.5vw;
		padding-left: 12%;
		padding-right: 12%;
	}
	
	.intro {
		display: block;
		padding-left: 20%;
		padding-right: 20%;
		padding-top: 8%;
	}

	/* minimize extra text padding */
	.bodypad p,
	.bodypad h1,
	.bodypad h2,
	.bodypad h3,
	.bodypad h4,
	.bodypad h5,
	.btns-with-body-text   {
		padding-right: 14%;
		padding-left: 14%;
	}

	/* class for when no left right padding is wanted  */
	.norightleftpadding p,
	.norightleftpadding h1,
	.norightleftpadding h2,
	.norightleftpadding h3,
	.norightleftpadding h4,
	.norightleftpadding h5,
	.norightleftpadding ul,
	p.norightleftpadding,
	h1.norightleftpadding,
	h2.norightleftpadding,
	h3.norightleftpadding, 
	h4.norightleftpadding,
	h5.norightleftpadding,
	ul.norightleftpadding{
		padding-right: 0%;
		padding-left: 0%;
	}

	/* Removes left right text padding at tablet and smaller screen sizes */
	.norightleftpadding-sm-desktop p,
	.norightleftpadding-sm-desktop h1,
	.norightleftpadding-sm-desktop h2,
	.norightleftpadding-sm-desktop h3,
	.norightleftpadding-sm-desktop h4,
	.norightleftpadding-sm-desktop h5,
	.norightleftpadding-sm-desktop ul,
	p.norightleftpadding-sm-desktop,
	h1.norightleftpadding-sm-desktop,
	h2.norightleftpadding-sm-desktop,
	h3.norightleftpadding-sm-desktop, 
	h4.norightleftpadding-sm-desktop,
	h5.norightleftpadding-sm-desktop,
	ul.norightleftpadding-sm-desktop{
		padding-right: 0%;
		padding-left: 0%;
	}
}

/*Tablet Page Specifications*/

@media only screen and (max-width: 1050px) {
	
	.intro {
		display: block;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 0%;
	}
	
	.headshot {
		width: 305px;
		padding-top: 100px;
	}
	
	.abouttext {
		padding-left: 0%;
		padding-right: 0%;
		padding-bottom: 20px;
	}	
	
	.bodypad, #nav-bar, .pic-with-background, .projectheader, h4.coded-design-statement {
		padding-left: 4%;
		padding-right: 4%;
	}

	/* More work reduce padding and gap */
	#morework {
		gap: 1vw;
		padding-left: 5%;
		padding-right: 5%;
	}

	/* Hide this item at tablet screen size */
	.hideattablet {
		display: none;
	}
	
	.textpadsides, .project-descript {
		padding-right: 0.25vw;
		padding-left:0.25vw;
	}
	
	.emailbtn {
		width: 100%;
	}

	.btns {
		padding-left: 25%;
		padding-right: 25%;
		display: block;
		width: 100%;
	}

	button {
		display: block;
		margin: auto;
		width: 100%;
		margin-bottom: 0.8vh;
	}

	/* Typesizes */
	h1 {
		font-size: 41px;
		line-height: 48px;
		font-weight: 900;
	}

	h2 {
		font-size: 31px;
		line-height: 37px;
		letter-spacing: 0.3px;;
	}
	
	h3 {
		font-size: 23.5px;
		line-height: 29px;
	}

	h4.larger{
		font-size: 27px;
		line-height: 33px;
	}
	
	.nav-sect {
		font-size: 19px;
		line-height: 25px;
	}

	/* class for when no left right padding is wanted  */
	.norightleftpadding p,
	.norightleftpadding h1,
	.norightleftpadding h2,
	.norightleftpadding h3,
	.norightleftpadding h4,
	.norightleftpadding h5,
	.norightleftpadding ul,
	p.norightleftpadding,
	h1.norightleftpadding,
	h2.norightleftpadding,
	h3.norightleftpadding, 
	h4.norightleftpadding,
	h5.norightleftpadding,
	ul.norightleftpadding{
		padding-right: 0%;
		padding-left: 0%;
	}
}

/*Phone Size*/

@media only screen and (max-width: 650px) {

	/* get rid of extra text padding */
	.projectheader,
	.bodypad p,
	.bodypad h1,
	.bodypad h2,
	.bodypad h3,
	.bodypad h4,
	.bodypad h5,
	.bodypad ul 
	.btns{
		padding-right: 0%;
		padding-left: 0%;
	}
	
	/* padding for nav and body content */
	.bodypad, #nav-bar, .intro, .pic-with-background, h4.coded-design-statement{
		padding-left: 4%;
		padding-right: 4%;
	}
	
	.navright{
		padding-right: 3.5%;
	}

	.navleft {
		padding-left: 3.5%;
	}
	
	.intro {
		display: block;
		padding-top: 0%;
	}

	.btns {
		padding-left: 0%;
		padding-right: 0%;
	}

	/* collapse more work */
	#morework {
		display: block;
		padding-left: 4%;
		padding-right: 4%;
		padding-bottom: 1%;
	}
}

/*Our Space*/

.phonewebdiv{
    display: flex;
}

.phone {
	flex: 0.49714;
	padding-left: 1.5%;
}

.web {
	padding-right: 1.5%;
	flex: 1.60111;
}

.img {
	width: 100%;
    height: auto;
}

/* Voter */

.walkthrough-flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	column-gap: 7vw;
}

.video-cont, .video-cont-sm {
	flex: 1.1;
	align-self: center;
}

.video-cont-sm {
	flex: 0.9;
}

.text-cont {
	flex: 1.75;
	align-self: center;
}

.flex-imgs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 8vw;
	row-gap: 5vh;
}

.flex-imgs img {
	flex: 1;
}

@media only screen and (max-width: 1050px) {
	.video-cont {
		margin-top: auto;
		margin-bottom: auto;
	}
}

/* Don't pad text in project header container as that would be double padding */
.text-cont p,
.text-cont h1,
.text-cont h2,
.text-cont h3,
.text-cont h4,
.text-cont h5,
.text-cont ul{
	padding-right: 0%;
	padding-left: 0%;
	margin-block-start: 0;
}

/* class for when no left right padding is wanted  */
.norightleftpadding p,
.norightleftpadding h1,
.norightleftpadding h2,
.norightleftpadding h3,
.norightleftpadding h4,
.norightleftpadding h5,
.norightleftpadding ul,
p.norightleftpadding,
h1.norightleftpadding,
h2.norightleftpadding,
h3.norightleftpadding, 
h4.norightleftpadding,
h5.norightleftpadding,
ul.norightleftpadding{
	padding-right: 0%;
	padding-left: 0%;
}

@media only screen and (max-width: 600px) {
	.walkthrough-flex {
		display: block;
	}
	.video-cont {
		padding-top: 2vh;
		padding-left: 15%;
		padding-right: 15%;
	}
}

/*Youtube Embeded*/

.youtubediv{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
	width: 100%;
}

.youtubevid {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Flex Equal Used for rows of images to be in a perfect grid */

.flex-imgs-equal-1,
.flex-imgs-equal-2,
.flex-imgs-equal-3,
.flex-imgs-equal-4, 
.flex-imgs-equal-1-iframe,
.flex-imgs-equal-2-iframe,
.flex-imgs-equal-3-iframe,
.flex-imgs-equal-4-iframe {
	display: grid;
	align-items: space-between;

	column-gap: 2vh;
	row-gap: 2vh;
	padding-bottom: 1vh;
	padding-top: 1vh;
}

.flex-imgs-equal-4, .flex-imgs-equal-4-iframe {
	grid-template-columns: repeat(4, 1fr);
}

.flex-imgs-equal-3, .flex-imgs-equal-3-iframe {
	grid-template-columns: repeat(3, 1fr);
}

.flex-imgs-equal-2, .flex-imgs-equal-2-iframe {
	grid-template-columns: repeat(2, 1fr);
}

.flex-imgs-equal-1, .flex-imgs-equal-1-iframe {
	grid-template-columns: repeat(1, 1fr);
}

@media only screen and (max-width: 675px) {
	.flex-imgs-equal-2-iframe {
		grid-template-columns: repeat(1, 1fr);
	}

	.then-two-at-mobile {
		grid-template-columns: repeat(2, 1fr);
	}
}

.flex-imgs-equal-1 img,
.flex-imgs-equal-2 img,
.flex-imgs-equal-3 img,
.flex-imgs-equal-4 img {
	width: 100%;
}

.flex-imgs-equal-1 div,
.flex-imgs-equal-2 div,
.flex-imgs-equal-3 div,
.flex-imgs-equal-4 div {
	padding: 0px !important;
	margin: 0px !important;
	width: 100%;
}

.flex-imgs-equal-2-iframe div,
.flex-imgs-equal-2-iframe div,
.flex-imgs-equal-3-iframe div,
.flex-imgs-equal-4-iframe div {
	width: 100%;
}

.flex-imgs-equal-1-iframe div iframe,
.flex-imgs-equal-2-iframe div iframe,
.flex-imgs-equal-3-iframe div iframe,
.flex-imgs-equal-4-iframe div iframe{
	width: 100%;
}

/* Sets up container of div elements that make up one column and bunch up at the top (like in fine arts section) */
.gallery-uneven-height {
	align-items: start;
	height: max-content;
}

/* Used for adding padding to a highlight section that matches length of flex imgs-equal container grid gaps*/

.pad-highlight-section {
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.pad-highlight-section-4vh {
	padding-top: 4vh;
	padding-bottom: 4vh;
}

.flextwopics {
	display: flex;
	justify-content: space-between;
	margin-top: 3px;
	align-items:baseline;
	column-gap: 1vh;
}

/* Change to flex-imgs containers items per row for tablet and smaller*/


@media only screen and (max-width: 1050px) {
	.flex-imgs-equal-3.tablet-and-smaller-2,
	.flex-imgs-equal-3.tablet-and-smaller-2 {
			grid-template-columns: repeat(2, 1fr) !important;
	}
}

/* Change to flex-imgs containers items per row for phone and smaller*/

@media only screen and (max-width: 650px) {
	.flex-imgs-equal-3.phone-and-smaller-1,
	.flex-imgs-equal-2.phone-and-smaller-1,
	.flex-imgs.phone-and-smaller-1 {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}

.text-flex-column-gap {
	column-gap: 6vw;
	row-gap: 0vh;
}